.frontpage-article {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.frontpage-article p:first-of-type:first-letter {
  float: left;
  margin-right: 0.25rem;
  font-weight: bold;
  font-size: 3lh;
  line-height: 1;
}

.frontpage-article p:not(:first-of-type) {
  margin-top: 0;
  text-indent: 3rem;
}

/* Link */

.frontpage_article-link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  aspect-ratio: 5 / 1;
  font-size: 1.2rem;
  width: 100%;
  max-width: 20rem;
  color: inherit;
  font-weight: 900;
  font-family: "Playfair Display";
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.frontpage_article-link:hover {
  color: inherit;
}
