.frontpage-article {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.frontpage-article p:first-of-type:first-letter {
  font-size: 3lh;
  margin-right: 0.25rem;
  float: left;
  line-height: 1;
  font-weight: bold;
}

.frontpage-article p:not(:first-of-type) {
  margin-top: 0;
  text-indent: 3rem;
}
