.frontpage-article {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.frontpage-article p::first-letter {
  font-size: 2rem;
  line-height: 1rem;
  margin-right: 0.05rem;
  font-weight: bold;
}
