.masthead {
  /* background-color: lime; */
}

.masthead-title-container {
  font-family: "Old London", serif;
  font-size: 10rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.masthead-title-text {
  width: max-content;
  white-space: nowrap;
}

.masthead-subtitle {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15rem 0;
  font-weight: 700;
  max-width: 800px;

  /* border: 0.15rem solid black; */
  border-right: none;
  border-left: none;
}

.masthead-subtitle > span {
  text-align: center;
}
